*.zip
*.log
*.tmp
*.sock
*.pid
__pycache__/
*.pyc
*.pyo
webui/dist/
webui/node_modules
webui/.vite/

.DS_Store
*.swp
*.bak
.vscode/
.idea/
runtime/
bin/yt-dlp
bin/hyperdl.bundle
bin/libhyperdl.so
system/bin/yt-dlp
src/embedded_engine.h
webroot/index.html

releases/
*.txt
